


@font-face {
    src: url(Fonts/ONEDAY/ONEDAY.ttf);
    font-family: oneday;
}
@font-face {
    src: url(Fonts/BigJohnPRO/BigJohnPRO-Regular.otf);
    font-family: John;
}
@font-face {
    src: url(Fonts/BigJohnPRO/BigJohnPRO-Bold.otf);
    font-family: JohnBold;
}
@font-face {
    src: url(Fonts/BigJohnPRO/BigJohnPRO-Light.otf);
    font-family: JohnLight;
}


#jumbotron {
    min-height:656px;
    width:100%;
    background-image: url(img/chair.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
}

.dark-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:656px;
    background-color: rgba(0, 0, 0, 0.685);
}
.navigation {
    background-color: rgba(0, 0, 0, 0);
    height: 80px;    
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.342);
    height: 80px;  
}
.logo-design {
    color: rgb(255, 74, 2)
}
.brand {
    color:white;  
    float: left;  
    line-height: 80px;
    font-size: 2.5rem;
    font-family: John;
}
.brand:hover {
    text-decoration: none;
    color: white;
}
.nav {
    float: right;
    list-style:none;

}
.navitem {
    line-height: 80px;
}
.navlink {
    color: white;
}
.navlink:hover {
    text-decoration:none;
    color: rgb(255, 74, 2)
}

.jumbotron-text {
    padding-top: 250px;
}
#freelance {
    color: white;
}
#web-developer {
    color: white;
}
.jumbotron-subtitle {   
    color: white;
}

/* Who section */
.who-section {
    height: 100px;
    width: 100%;
    
}
.who-section-text {
    padding-top: 30px;
}
.who-content {
      width: 100%; 
      height: 500px; 
}
.orange {
    color: rgb(255, 74, 2)
}
.orange-bg {
    background-color: rgb(255, 74, 2);
}
.credentials-content {
    height: 500px;
    width: 100%;
    background-color:#0E1011;
}
.projects {
    width: 100%;
    height: 500px;
}
.project-card {
    height: 200px;
    width: 300px;
    margin-right: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}